# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
from pandas import DataFrame
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
import json

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
490    YUM
491    ZBH
492   ZBRA
493   ZION
494    ZTS

[495 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [3]:
IEX_CLOUD_API_TOKEN = 'sk_541d349ea9ee429782bf1e5562bf74fb'

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [4]:
symbol='AAPL'
api_url = f'https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avgTotalVolume': 62011003,
 'calculationPrice': 'iexlasttrade',
 'change': 0.12,
 'changePercent': 0.00063,
 'close': None,
 'closeSource': 'official',
 'closeTime': None,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': None,
 'delayedPriceTime': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPrice': None,
 'extendedPriceTime': None,
 'high': None,
 'highSource': None,
 'highTime': None,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexClose': 190.1,
 'iexCloseTime': 1716926399777,
 'iexLastUpdated': 1716926399777,
 'iexMarketPercent': 0.016068222542018878,
 'iexOpen': 191.56,
 'iexOpenTime': 1716903000006,
 'iexRealtimePrice': 190.1,
 'iexRealtimeSize': 200,
 'iexVolume': 838111,
 'lastTradeTime': 1716926399990,
 'latestPrice': 190.1,
 'latestSource': 'IEX Last Trade',
 'latestTime': 'May 28, 2024',
 'latestUpdate': 1716926399777,
 'latestVolume': None,
 'low': None,
 'lowSource': None,
 'lowTime': None,
 'marketCap': 2915008988200,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'open': None,
 'openTime': None,
 'openSource': 'official',
 'peRatio': 29.56,
 'previousClose': 189.98,
 'previousVolume': 36326975,
 'primaryExchange': 'NASDAQ',
 'symbol': 'AAPL',
 'volume': None,
 'week52High': 198.57,
 'week52Low': 163.63,
 'ytdChange': -0.007410417732047777,
 'isUSMarketOpen': False}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [5]:
price = data['latestPrice']
market_cap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [6]:
my_columns = ['Ticker', 'Price','Market Capitalization', 'Number Of Shares to Buy']
final_dataframe = DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [7]:
new_series = pd.Series([symbol, price, market_cap, 'N/A'], index = my_columns)
new_row_df = new_series.to_frame().T
final_dataframe = pd.concat([final_dataframe, new_row_df], ignore_index=True)
final_dataframe

  Ticker  Price Market Capitalization Number Of Shares to Buy
0   AAPL  190.1         2915008988200                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [8]:
# final_dataframe = pd.DataFrame(columns = my_columns)
# for symbol in stocks['Ticker']:
#     api_url = f'https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
#     data = requests.get(api_url).json()

#     new_series = pd.Series([symbol, data['latestPrice'], data['marketCap'], 'N/A'], index = my_columns)
#     new_row_df = new_series.to_frame().T
#     final_dataframe = pd.concat([final_dataframe, new_row_df], ignore_index=True)
#     print(final_dataframe)
# final_dataframe

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [9]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [10]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    # print(symbol_strings[i])

final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        new_series = pd.Series([symbol, data[symbol]['quote']['latestPrice'], data[symbol]['quote']['marketCap'], 'N/A'], index = my_columns)
        new_row_df = new_series.to_frame().T
        final_dataframe = pd.concat([final_dataframe, new_row_df], ignore_index=True)
final_dataframe

    Ticker   Price Market Capitalization Number Of Shares to Buy
0        A  148.21           43433723642                     N/A
1      AAL   13.44            8817854223                     N/A
2      AAP   70.18            4183392675                     N/A
3     AAPL   190.1         2915008988200                     N/A
4     ABBV  155.34          274309901101                     N/A
..     ...     ...                   ...                     ...
490    YUM  135.86           38262552322                     N/A
491    ZBH  116.33           23932384539                     N/A
492   ZBRA  326.08           16766838930                     N/A
493   ZION   42.53            6279755752                     N/A
494    ZTS   171.3           78163356968                     N/A

[495 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [11]:
portfolio_size = 100000

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

In [12]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])-1):
    final_dataframe.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

    Ticker   Price Market Capitalization Number Of Shares to Buy
0        A  148.21           43433723642                       1
1      AAL   13.44            8817854223                      15
2      AAP   70.18            4183392675                       2
3     AAPL   190.1         2915008988200                       1
4     ABBV  155.34          274309901101                       1
..     ...     ...                   ...                     ...
490    YUM  135.86           38262552322                       1
491    ZBH  116.33           23932384539                       1
492   ZBRA  326.08           16766838930                       0
493   ZION   42.53            6279755752                       4
494    ZTS   171.3           78163356968                     N/A

[495 rows x 4 columns]